//.opretOrd{
//  display: grid;
//  grid-template-columns: 25% 25% 25% 25%;
//  grid-template-rows: repeat(6, 16.6%);
//  grid-template-areas: "gNavn . . .";
//}



.opretord{

  margin-top: -60%;
  z-index: -1;
  position: absolute;

  img{
    width: 100vw;
    height: 100%;
    image-orientation: from-image;
    //opacity: 0.3;
  }
}

.info{
  //grid-area: gNavn;

  background-color: #FFFFFF;
  margin-top: 45vh;

  textarea{
    border-radius: 20px;
    border: $darkblue solid 2px;
  }

  select{
    height: 30px;
    border-radius: 20px;
    border: $darkblue solid 2px;
  }

  .beskrivelse{
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    grid-column-gap: 2%;

    grid-template-areas: "gP gP gP gP"
                         "gT gT gT gB";

    p{
      grid-area: gP;
    }

    textarea{
      grid-area: gT;
    }

    button{
      grid-area: gB
    }

  }

  .optag-lyd-knap{
    width: 100%;
    height: 100%;

  img{
    height: 40px;
    width: auto;
  }
  }

}
