.ordbog, .kategori{

  section{
    .ordbog-knap{
      height: 20vw;
      width: 20vw;
      margin: 2vw;

      border: $darkblue solid 2px;
      background-color: $lightgrey;
      border-radius: 20px;
    }

    #add{
      background-color: $lightblue;
    }

    .ikon{
      max-width: 90%;
    }
  }

  .rows{
    display: flex;
    justify-content: center;

    p{
      text-align: center;
      margin-top: 0;
    }
  }

  .billede{
    width: 100% !important;
    border-radius: 18px;
  }

  .full{
    padding: 0;
  }

}