@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto');

h1, h2, summary {
  font-family: 'Nanum Gothic', sans-serif;
}
h1 {
  font-size: 32px;
}
h2, summary {
  font-size: 20px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}