.boble{
  border-radius: 65px;
  display: flex;
  justify-content: space-around;
.boble1 {
  border: solid $darkblue;
  background-color: $lightblue;
  margin: 4px;
  padding: 8px;
  width: 80vw;
}
.boble2 {
  border: solid $lightblue;
  margin-top: 7%;
}
.boble3 {
  border: solid $black;
  margin-top: 7%;
}
}